@import url('https://fonts.googleapis.com/css?family=Varela+Round');
*{
    font-family: 'Varela Round', sans-serif;
}
body{
    background: #003DAF;
    background: -webkit-linear-gradient(-135deg, #f9f9f9, #003DAF);
    background: -o-linear-gradient(-135deg, #f9f9f9, #003DAF);
    background: -moz-linear-gradient(-135deg, #f9f9f9, #003DAF);
    background: linear-gradient(-135deg, #f9f9f9, #003DAF);
    height: 100vh;
}
#centralAccess {
    background: #f9f9f9;
    height:35%;
    width:50%;
    margin: auto;
    margin-top: 15%;
    border-radius: 25px;
    text-align: center;
    padding: 5%;
    
}

.title {
    text-align: center;
    color: #f9f9f9;
}