@import url('https://fonts.googleapis.com/css?family=Varela+Round');
*{
    font-family: 'Varela Round', sans-serif;
    flex: 0 0 auto;
}

body{
    background: #003DAF;
    background: -webkit-linear-gradient(-135deg, #f9f9f9, #003DAF);
    background: -o-linear-gradient(-135deg, #f9f9f9, #003DAF);
    background: -moz-linear-gradient(-135deg, #f9f9f9, #003DAF);
    background: linear-gradient(-135deg, #f9f9f9, #003DAF);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    background-attachment: fixed;
}

#centralAccess {
    background: #f9f9f9;
    height:35%;
    width:50%;
    margin: auto;
    margin-top: 15%;
    border-radius: 25px;
    text-align: center;
    padding: 5%;
}

#main {
    text-align: center;
    background: #f9f9f9;
    margin: auto;
    height: 100%;
    border-radius: 10px;
    padding-top: 15px;
    max-width:1300px;
    min-width:300px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#title {
    width: 100%;
    text-align: center;
}

#courseSelection {
    width: 500px;
    padding:5px;
    float: left;
    text-align: center;
    background: #BEF0EF;
}

.selectionItem{
    width: 100%;
}

.title {
    text-align: center;
    color: #f9f9f9;
}

#content1, #content2, #content3, #content4, #content5, #content6{
    display: none;
    width: 90%;
    height: auto;
    margin:auto;
}

#name1, #name2, #name3, #name4, #name5, #name6, #group1, #group2{
    display: none;
    width: 90%;
    height: auto;
    margin:auto;
}



#myInput1, #myInput2, #myInput3, #myInput4 {
    background-image: url("../Images/SearchIcon.png"); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
    margin-top:12px;
}

#myTopBtn {
    display: none; 
    position: fixed; 
    bottom: 40px; 
    right: 15px;
    z-index: 99; 
    border: none; 
    outline: none; 
    padding: 15px; 
    width: 65px;
}
